* {
    color: #fff;
}

body {
    background-color: #141414;
    background: url(../assets/background.png);
}

.mdl-card,
.mdl-data-table {
    background: rgba(34, 34, 34, 0.6);
}

.mdl-data-table tr {
    transition: 0.2s;
}

.mdl-data-table tr:hover {
    background-color: #272727 !important;
}

.nav-settings .nav-settings__content:hover {
    background: #202020;
}

.mdl-layout__drawer {
    border: none;
    background: rgba(24, 24, 24, 0.8);
}

.mdl-data-table td,
.mdl-data-table th {
    color: #fff;
}

.mdl-button {
    color: #fff
}

.fixed-dialog .mdl-dialog__content {
    color: #fff !important;
}

#gtx-trans,
.gtx-bubble,
.gtx-lang-selector {
    background: rgba(0, 0, 0, .6) !important;
    border-color: rgb(46, 46, 46);
}

.pure-material-textfield-filled>input+span,
.pure-material-textfield-filled>textarea+span {
    color: rgba(var(--pure-material-onsurface-rgb, 255, 255, 255), 0.6);
}

input {
    color: #fff !important;
}