/*               bakafiles >~<
            by Michio Nakano (michio.xd)

    License: GNU GENERAL PUBLIC LICENSE (GPL)

      https://github.com/michioxd/bakafiles

File: main.css (hmmmmm...)

Google Sans, Material Icons are from Google Inc and under open source licenses
font google sans vs material icons đều là của bố google :v và nó theo open source license :vv
Google Sans、Material IconsはGoogleIncによるものであり、オープンソースライセンスの下にあります
*/

* {
    font-family: Google Sans !important;
}

#gtx-trans,
.gtx-bubble,
.gtx-lang-selector {
    background: rgba(255, 255, 255, 0.6) !important;
    -webkit-backdrop-filter: blur(20px) saturate(1.5) brightness(1.2) !important;
    backdrop-filter: blur(20px) saturate(1.5) brightness(1.2) !important;
    background-image: none!important;
    animation: fade .2s!important;
    font-family: Google Sans!important;
    border-radius: 3px !important;
}

.gtx-bubble::after {
    content: "bakafiles";
    color: currentColor;
    text-shadow: 0px 0px 5px rgb(80, 80, 80);
}

.gtx-content {
    font-family: Google Sans!important
}

#gtx-trans .gtx-trans-icon {
    width: 25px!important;
    height: 25px!important;
    background-size: 25px!important
}

#gtx-trans {
    border-radius: 0!important;
    height: 25px!important;
    width: 27px!important
}

.gtx-body {
    color: currentColor !important;
}

.gtx-content {
    color: currentColor !important;
    font-family: Google Sans !important;
}

body {
    transition: .2s;
    background: url(../assets/bg-light.png);
    background-position: center !important;
    background-size: cover !important;
}

.material-icons {
    font-family: Material Icons !important;
}

.mdl-layout__drawer {
    width: 330px;
    transform: translateX(-330px);
    background: rgb(255 255 255 / 80%);
}

.nav-settings {
    float: left;
}

.nav-settings .nav-settings__content {
    width: calc(100% - 20px);
    padding: 10px;
    transition: 0.2s;
    height: 35px;
    position: relative;
}

.nav-settings .nav-settings__content:hover {
    background: #c7c7c7;
}

.dir-badge {
    width: calc(99% - 10px);
    min-height: 30px;
    margin: 10px;
    display: block;
    padding: 10px;
}

.mdl-card,
.mdl-data-table {
    background: rgb(255, 255, 255, .6);
}

.dir-badge a {
    display: inline;
    margin: 8px 0px 8px 0px;
    float: left;
    width: fit-content;
    text-decoration: none;
}

.dir-badge a.inndexx {
    margin: 8px 0px 8px 8px;
}

.dir-badge i {
    font-size: 17px;
    float: left;
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadecl {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes open_fixed {
    from {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.9);
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}

@keyframes close_fixed {
    to {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.9);
    }
    from {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}

.progresss {
    position: relative;
    z-index: auto;
    height: 4px;
    display: none;
    width: 500px;
    background-color: transparent;
    background-clip: padding-box;
    overflow: hidden;
    top: 0;
    left: 0;
}

.progress {
    position: fixed;
    z-index: 999999;
    height: 4px;
    display: none;
    width: 100%;
    background-color: transparent;
    background-clip: padding-box;
    overflow: hidden;
    top: 0;
    left: 0;
}

.progress .progress__indeterminate,
.progresss .progress__indeterminate {
    background-color: #ff4081;
}

.progress .progress__indeterminate:before,
.progresss .progress__indeterminate:before {
    content: '';
    position: absolute;
    background-color: inherit;
    top: 0;
    left: 0;
    bottom: 0;
    will-change: left, right;
    -webkit-animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
    animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
}

.progress .progress__indeterminate:after,
.progresss .progress__indeterminate:after {
    content: '';
    position: absolute;
    background-color: inherit;
    top: 0;
    left: 0;
    bottom: 0;
    will-change: left, right;
    -webkit-animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
    animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
    -webkit-animation-delay: 1.15s;
    animation-delay: 1.15s;
}

@-webkit-keyframes indeterminate {
    0% {
        left: -35%;
        right: 100%;
    }
    60% {
        left: 100%;
        right: -90%;
    }
    100% {
        left: 100%;
        right: -90%;
    }
}

@keyframes indeterminate {
    0% {
        left: -35%;
        right: 100%;
    }
    60% {
        left: 100%;
        right: -90%;
    }
    100% {
        left: 100%;
        right: -90%;
    }
}

@-webkit-keyframes indeterminate-short {
    0% {
        left: -200%;
        right: 100%;
    }
    60% {
        left: 107%;
        right: -8%;
    }
    100% {
        left: 107%;
        right: -8%;
    }
}

@keyframes indeterminate-short {
    0% {
        left: -200%;
        right: 100%;
    }
    60% {
        left: 107%;
        right: -8%;
    }
    100% {
        left: 107%;
        right: -8%;
    }
}

.main-dir-tab .mdl-data-table {
    margin: 10px;
    width: calc(99% - 10px);
}

.main-dir-tab .mdl-data-table tr {
    cursor: pointer;
}

.main-dir-control {
    margin: 10px;
    width: calc(99% - 10px);
    text-align: right;
}

.fixed-dialog {
    position: fixed;
    width: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    display: none;
}

.fixed-dialog .bar {
    box-sizing: border-box;
    background: #3F51B5;
    color: white;
    width: 100%;
    padding: 16px;
    height: 65px;
    text-transform: uppercase;
}

.overlay {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: fixed;
    background: rgba(0, 0, 0, 0.664);
    z-index: 999;
    display: none;
}

.main-image-preview {
    padding: 0.5rem;
    margin: 0.5rem;
    width: calc(100% - 1.5rem);
    display: flex;
    flex-wrap: nowrap;
}

.main-image-preview .main-image-preview__image {
    width: 100%;
    box-shadow: 0px 0px 15px currentColor;
}

.open-ace {
    width: 100%;
    height: 500px;
    position: relative;
}

.open-ace #editor {
    position: absolute;
    width: 100%;
    height: 100%;
    font: 12px/normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace !important;
}

.ace_layer .ace_line,
.ace_layer,
.open-ace #editor,
.ace_text-input,
.ace_editor * {
    font: 12px/normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace !important;
}

.open-editor-nav {
    margin: 0.5rem;
}

.editor--full {
    position: fixed !important;
    z-index: 2;
    top: 4.5rem;
    height: 100%;
}

.open-editor-nav__full {
    position: fixed !important;
    z-index: 3;
    width: 100%;
    bottom: 0;
}

.dropzone {
    background: transparent !important;
}

.upload__inner {
    width: 100%;
    position: relative;
    height: 360px;
    overflow-y: auto;
}

.upload__inner .ui_drop {
    width: 100%;
    position: absolute;
    height: 100%;
}

.dropzone .dz-preview.dz-image-preview {
    background: transparent !important;
}

.dropzone .dz-preview .dz-details .dz-size,
.dropzone .dz-preview .dz-details .dz-filename {
    color: rgba(0, 0, 0, 0.767) !important
}

.dropzone .dz-preview .dz-progress {
    background: rgb(58 58 58 / 69%);
}